################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SextantHelper/FileContentIndex/41271d9b-cb92-4e92-80a0-8b8fbabda7f8.vsidx
/.vs/SextantHelper/FileContentIndex/5d0a5380-4b92-400e-a850-1ad97b16389f.vsidx
/.vs/SextantHelper/FileContentIndex/72239329-4f98-4fd6-a843-66b39735a587.vsidx
/.vs/SextantHelper/FileContentIndex/4a1574b2-7188-4cf9-9daa-25ec03be8943.vsidx
/.vs/SextantHelper/FileContentIndex/0306ef95-98b1-41d6-8f0d-bcc1abf0892d.vsidx
